# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Local configuration
config.local.php
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Dependencies
node_modules/
bower_components/
